/*createroom*/
.container {
    display: flex;
    height: 100vh;
    height: 400px;
  }
  
  .sidebarSpace {
    flex: 0 0 20%;
  }
  
  .formContainer {
    flex: 1;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem;
    border-radius: 10px;
    height: 900px;
    gap: 50px;
    position: relative;
    top: 50px;
    right: 40px;
  }
  
  .iconSection {
    flex: 0 0 25%;
    background-color: #ff9500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .icon {
    width: 50px;
    height: 50px;
    background-color: #000;
    margin-bottom: 1rem;
    border-radius: 50%;
  }
  
  .formSection {
    flex: 1;
    padding: 2rem;
  }
  
  .title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input, .select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .button {
    background-color: #28a745;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #218838;
  }
  
  
  
  