.friendsPage {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    color: white;
  }
  
  .friendList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .friendItem {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .details {
    flex: 1;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .message {
    font-size: 0.9rem;
    color: #555;
  }
  