.buttons {
    display: flex;
    gap: 140px;
}

.button {
    width: 600px;
    padding: 150px;
    border-radius: 10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: relative;
    left: 210px;
    top: 500px;
}

.createRoom {
    background-color: #f4c542;
}

.searchRoom {
    background-color: #56a8ff;
}
