.profile {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}
