.profile {
    background-color: #fff;
    padding: 100px;
    border-radius: 15px;
    width: 1200px;
    text-align: left;
    color: #333;
    font-size: 30px;
    position: fixed;
    left: 700px;
    top: 200px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
