.sidebar {
    background-color: #3bde4b;
    width: 390px;
    padding: 80px;
    margin-left:0;
    border: 5px solid;
    border-radius: 15px;
    border-color: #00a2ff;
    display: flex;
    flex-direction: column;
    gap: 130px;
    color: black;
    position: fixed;
    left: 30px;
    bottom: 60px;
}

.sidebar .item {
    display: flex;
    align-items: center;
    font-size: 29px;
    font-weight: bold;
    position: relative;
    right: 30px;
}
